:root {
  --color-primary: #67645E;
  --color-secondary: rgba(204, 204, 204, 0.6);
  --color-input-light: #EAEAEA;
  --color-input-dark: #242424;
  --color-background-light: #EFEFEF;
  --color-background-dark: #1F1F1F;
  --color-heading-light: #1F1F1F;
  --color-heading-dark: #f0f0f0;
  --color-text-light: #67645E;
  --color-text-dark: #98A2B3;
  --color-navbarText: #000;
  --color-border-light: #67645E;
  --color-border-dark: #272727;
}

[data-theme='light'] {
  --color-background: var(--color-background-light);
  --color-text: var(--color-text-light);
  --color-heading:var(--color-heading-light);
  --color-input:var(--color-input-light);
  --color-border:var(--color-border-light);
}

[data-theme='dark'] {
  --color-background: var(--color-background-dark);
  --color-text: var(--color-text-dark);
  --color-heading:var(--color-heading-dark);
  --color-input:var(--color-input-dark);
  --color-border:var(--color-border-dark);
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}